
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* Proporção 16:9 */
  height: 0;
  overflow: hidden;
  max-width: 70%; /* 👈 vídeo agora ocupa no máximo 70% da largura da tela */
  margin: 0 auto; /* centraliza na página */
  background: #000; /* fundo preto enquanto carrega */
  border-radius: 10px; /* cantos arredondados (opcional) */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


.video-containerr {
  position: relative;
  padding-bottom: 40%; /* mantém proporção 16:9 */
  height: 0;
  overflow: hidden;
  max-width: 50%; /* 👈 vídeo agora ocupa no máximo 50% da largura */
  margin: 20px auto; /* centraliza */
  background: #000;
  border-radius: 10px; /* opcional */
}

.video-containerr iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
